<a href="https://colab.research.google.com/github/ADITYA2647/MAJOR-PROJECT-/blob/main/MajorProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.Take the data and Create Dataframe
import pandas as pd
df = pd.read_csv('/content/Fish.csv')
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [ ]:
df.shape

(159, 7)

In [ ]:
df.size

1113

In [ ]:
# Step 2 - Filtering of data - is not required as there is no unwanted columns

In [ ]:
# Step 3 - Data Visualization - is not required

In [ ]:
# 4.Divide the data into input and output
x = df.iloc[:,2:7].values
x # input

In [ ]:
y = df.iloc[:,0].values
y # output

array(['Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream',
       'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream',
       'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream',
       'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream',
       'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream', 'Bream',
       'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Roach',
       'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Roach',
       'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Roach', 'Whitefish',
       'Whitefish', 'Whitefish', 'Whitefish', 'Whitefish', 'Whitefish',
       'Parkki', 'Parkki', 'Parkki', 'Parkki', 'Parkki', 'Parkki',
       'Parkki', 'Parkki', 'Parkki', 'Parkki', 'Parkki', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Perch', 'Pike', 'Pike',
       'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Pike',
       'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Pike', 'Smelt',
       'Smelt', 'Smelt', 'Smelt', 'Smelt', 'Smelt', 'Smelt', 'Smelt',
       'Smelt', 'Smelt', 'Smelt', 'Smelt', 'Smelt', 'Smelt'], dtype=object)

In [ ]:
# 5.Train and Test variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:
# Step 6 - Normalization of Data - is not required because input column is already scaled

In [ ]:
# 7.APPLY CLASSIFIER/REGRESSOR/CLUSTERER
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [ ]:
# 8.Fit the model
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
# 9.Predict the output
y_pred = model.predict(x_test)
y_pred  #predicted output

array(['Bream', 'Roach', 'Perch', 'Roach', 'Perch', 'Perch', 'Perch',
       'Pike', 'Bream', 'Perch', 'Pike', 'Pike', 'Perch', 'Perch',
       'Parkki', 'Roach', 'Roach', 'Pike', 'Perch', 'Bream', 'Parkki',
       'Roach', 'Perch', 'Pike', 'Parkki', 'Bream', 'Bream', 'Roach',
       'Perch', 'Smelt', 'Bream', 'Perch', 'Pike', 'Pike', 'Bream',
       'Perch', 'Perch', 'Bream', 'Perch', 'Perch'], dtype=object)

In [ ]:
y_test

array(['Bream', 'Roach', 'Perch', 'Roach', 'Perch', 'Perch', 'Whitefish',
       'Pike', 'Bream', 'Perch', 'Pike', 'Pike', 'Whitefish', 'Perch',
       'Parkki', 'Roach', 'Roach', 'Pike', 'Perch', 'Bream', 'Parkki',
       'Roach', 'Perch', 'Pike', 'Parkki', 'Bream', 'Bream', 'Whitefish',
       'Perch', 'Smelt', 'Bream', 'Perch', 'Pike', 'Pike', 'Bream',
       'Perch', 'Perch', 'Bream', 'Perch', 'Perch'], dtype=object)

In [ ]:
# 10.Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

# My model have 92.5% accuracy

92.5

In [ ]:
# CROSS CHECKING
model.predict([[13,14,15,2.9,2]])

# According to dataset - Species is 'Smelt'
# My model's output - 'Smelt'
# So my model's prediction is correct

array(['Smelt'], dtype=object)